<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="macros/camera.xacro"/>

  <xacro:camera 
    name="left_camera" 
    parent="base_link" 
    xyz="0.2 0 0.1" 
    rpy="0 0 0"
    chassis_height="${chassis_height}"
  />

  <xacro:camera 
    name="right_camera" 
    parent="base_link" 
    xyz="-0.2 0 0.1" 
    rpy="0 0 3.14"
    chassis_height="${chassis_height}"
  />

</robot>
