<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="macros/tof.xacro"/>

  <xacro:tof name="front_left_tof" parent="base_link" xyz="0.2 0 0.1" rpy="0 0 0"/>
  <xacro:tof name="front_right_tof"  parent="base_link" xyz="-0.2 0 0.1" rpy="0 0 3.14"/>

  <xacro:tof name="left_front_tof"  parent="base_link" xyz="-0.2 0 0.1" rpy="0 0 3.14"/>
  <xacro:tof name="left_rear_tof"  parent="base_link" xyz="-0.2 0 0.1" rpy="0 0 3.14"/>

  <xacro:tof name="right_front_tof"  parent="base_link" xyz="-0.2 0 0.1" rpy="0 0 3.14"/>
  <xacro:tof name="right_rear_tof"  parent="base_link" xyz="-0.2 0 0.1" rpy="0 0 3.14"/>

  <xacro:tof name="rear_left_tof"  parent="base_link" xyz="-0.2 0 0.1" rpy="0 0 3.14"/>
  <xacro:tof name="rear_right_tof"  parent="base_link" xyz="-0.2 0 0.1" rpy="0 0 3.14"/>

</robot>